@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white dark:text-gray-200 text-gray-800;
  }
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}
/* a,
.a {
  @apply dark:text-emerald-400 text-indigo-600 hover:text-indigo-500 dark:hover:text-emerald-400 duration-300 ease-in;
} */

.main-container {
  @apply max-w-7xl min-h-screen mx-auto my-2 flex flex-col items-start text-base md:text-lg lg:text-xl px-2;
}

.main-title {
  @apply text-2xl md:text-3xl lg:text-3xl xl:text-4xl 2xl:text-5xl font-medium text-center w-full mt-5 mb-10;
}

.sub-title {
  @apply text-xl md:text-2xl lg:text-3xl font-medium text-center w-full;
}

.titleMP {
  @apply text-2xl sm:text-2xl md:text-3xl lg:text-4xl font-medium;
}

.subTitleMP {
  @apply text-lg sm:text-xl md:text-xl lg:text-xl font-medium;
}

.herotitle {
  @apply text-lg sm:text-xl md:text-xl lg:text-xl font-light lg:font-normal;
}

.textMP {
  @apply text-sm sm:text-base md:text-base lg:text-lg font-light;
}

.video {
  @apply w-full h-52 md:h-96 lg:h-160 mt-10 rounded-lg;
}

.hoverIcon {
  @apply hover:invert hover:bg-white duration-300 ease-in;
}

.accordion-text {
  @apply px-2 text-sm lg:text-base mt-1;
}

.desktop-nav .dropdown {
  position: absolute;
  right: auto;
  top: 41px;
  left: 0;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.8rem;
  z-index: 9999;
  width: max-content;
  /* min-width: 12rem; */
  /* padding: 0.5rem 0; */
  list-style: none;
  border-radius: 0.375rem;
  display: none;
  border: 1px solid rgb(209, 207, 207);
}

.desktop-nav .dropdown.show {
  display: block;
}

.desktop-nav .dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  /* top: 70px; */
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.mobile-nav {
  display: none;
}

/*! menu on mobile */
@media screen and (max-width: 960px) {
  .nav-area {
    justify-content: space-between;
  }

  .desktop-nav {
    display: none;
    text-align: right;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav .menu-items a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
  }

  .mobile-nav .menu-items button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
    width: 100%;
  }

  .mobile-nav .menu-items > a,
  .mobile-nav .menu-items button {
    text-align: left;
    padding: 0.7rem 1rem;
  }

  .mobile-nav .arrow::after {
    content: '';
    display: inline-block;
    margin-left: 1.2em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  }

  .mobile-nav .arrow-close::after {
    content: '';
    display: inline-block;
    margin-left: 1.2em;
    vertical-align: 0.09em;
    border-bottom: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  }

  .mobile-nav .dropdown {
    margin-left: 1.2em;
    margin-right: 1.2em;
    font-size: 1rem;
    /* padding: 0.5rem 0; */
    list-style: none;
    display: none;
    /* background-color: var(--mobile-nav-dropdawn-bg); */
  }

  .mobile-nav .dropdown.show {
    display: block;
  }
}

/*! IMAGE GALLARY */

@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon:hover {
    @apply text-indigo-500 dark:text-emerald-400;
  }
  .image-gallery-bullets .image-gallery-bullet.active:hover {
    background: #ccc;
  }
  .image-gallery-bullets .image-gallery-bullet:hover {
    background: #ccc;
    border: 1px solid #ccc;
  }
  .image-gallery-thumbnail:hover {
    border: 2px solid cyan;
  }
}

.image-gallery-bullet:hover {
  background: cyan;
  border: 1px solid cyan;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 3px solid #ccc;
}

.image-gallery-thumbnail-image {
  height: 0px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

/* .image-gallery {
  width: 100%;
} */

.image-gallery-content .image-gallery-slide .image-gallery-image {
  /* height: 100%; */
  width: 100%;
  border-radius: 1rem;
}

/*! FOOTER */

footer h5 {
  color: #ccc;
  text-transform: uppercase;
  font-size: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

/*! GRADIENT */

.gradient {
  z-index: -33;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);

  content: '';
  /* filter: blur(100px) saturate(150%); */
  /* top: 80px; */
}

.bg-image {
  background: url('../public/SVG/Rainbow-squares.svg') bottom left;
  height: 100%;
  position: fixed;
  top: 0;
}

/*! CALL ANIMATION */
/* .call-animation {
  animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-5px) rotate(-6deg);
  }

  30% {
    transform: translateX(5px) rotate(6deg);
  }

  45% {
    transform: translateX(-4px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(4px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-3px) rotate(-1.2deg);
  }
} */

/*! БЛИКИ НА КНОПКЕ */

.flare-button {
  width: 100%;
  max-width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: #eb9f11;
  box-shadow: 0 3px 3px #be8316;
  cursor: pointer;
  text-decoration: none;

  /* Важные стили для анимации */
  position: relative;
  overflow: hidden;
}

.flare-button:after {
  content: '';
  display: block;
  width: 20px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  animation: movingFlare 3s ease-in-out 0.05s infinite;
}

@keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
